@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f2937; /* text-gray-800 */
  --app-primary-color: #14532d; /* text-green-900 */
  --app-primary-color-dark: #09351a;
  --app-secondary-color: #10b981;
  --app-secondary-color-dark: #059669;
  --app-accent-color: #f97300;
  --app-base-color: #f8f3dc; /* bg-amber-100 saturate-50 */
  --app-home-base-color: #bef264;
  --app-border-gray: #cccccc;
  --app-attention-color: #d80000;
  --app-accounting-color: #1086b9;
  --app-another-color: #b97810;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "M PLUS 2", sans-serif;
  letter-spacing: 0.05em;

  summary {
    list-style: none; /* Chrome系 */
  }
  summary::-webkit-details-marker {
    display: none; /* Safari/Chrome */
  }
  summary::marker {
    content: ""; /* Firefox */
  }
}

.app-accounting-color {
  background-color: var(--app-accounting-color);
  color: #fff;
}
.app-another-color {
  background-color: var(--app-another-color);
  color: #fff;
}
.app-text-shadow {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.app-blurred-bg-white {
  background-color: rgba(255, 255, 255, 0.75); /* bg-white/75 相当 */
  backdrop-filter: blur(4px); /* backdrop-blur-sm 相当 */
}
.app-blurred-bg-ivory {
  background-color: rgba(248, 243, 220, 0.75); /* bg-white/75 相当 */
  backdrop-filter: blur(4px); /* backdrop-blur-sm 相当 */
}

.app-primary-button-shadow {
  background-color: var(--app-primary-color);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 0 var(--app-primary-color-dark);
  transition: all 0.2s ease;
}
.app-primary-button-shadow:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 var(--app-primary-color-dark);
}

.app-secondary-button-shadow {
  background-color: var(--app-secondary-color);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 0 var(--app-secondary-color-dark);
  transition: all 0.2s ease;
}

.app-secondary-button-shadow:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 var(--app-secondary-color-dark);
}

.app-text-outline-white {
  text-shadow:
    1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white;
}
